<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clothing Store</title>
</head>
<body>
    <h1>Qureshi Brothers</h1>
    <h3>T-shirts</h3>

    <p>Price: $10.00</p>
    <p>Quantity: 1</p>

    <form action="/checkout" method="post">
        <input type="submit" value="Proceed To Checkout">
    </form>
</body>
</html>